<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Windows Makers</h1>
                <p>
                    &Egrave; il mondo dei Makers con Microsoft e con Intel
                </p>
                <h3>Le communities con voi</h3>
                <p>
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam condimentum laoreet sagittis. Duis quis ullamcorper leo. Suspendisse potenti.
                </p>
            </div>
            <div class="col-md-6">
                <div class="img-responsive">
                    <img src="~/Content/img/windowsmakers-banner-555.png" alt="Windows Makers" />
                </div>
            </div>
        </div>
    </div>
</div>