<h4>Cerca nel blog</h4>
<form>
    <div class="input-group">
        <input class="form-control input-md" id="appendedInputButtons" type="text">
        <span class="input-group-btn">
            <button class="btn btn-md" type="button">Search</button>
        </span>
    </div>
</form>
