<h4>Lascia un commento</h4>
<div class="comment-form-wrapper">
    <form class="">
        <div class="form-group">
            <label for="comment-name"><i class="glyphicon glyphicon-user"></i> <b>Your name</b></label>
            <input class="form-control" id="comment-name" type="text" placeholder="">
        </div>
        <div class="form-group">
            <label for="comment-email"><i class="glyphicon glyphicon-envelope"></i> <b>Your Email</b></label>
            <input class="form-control" id="comment-email" type="text" placeholder="">
        </div>
        <div class="form-group">
            <label for="comment-message"><i class="glyphicon glyphicon-comment"></i> <b>Your Message</b></label>
            <textarea class="form-control" rows="5" id="comment-message"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-large pull-right">Send</button>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<!-- End Comment Form -->