<h3>Le nostre community</h3>
<a href="http://www.innovazionefvg.net/" target="_blank"><img src="~/content/img/communities/1nn0va-256.png" alt="1nn0va"></a>
<a href="http://www.dotnettoscana.com/" target="_blank"><img src="~/content/img/communities/dotnettoscana.png" alt=".net Toscana"></a>
<a href="http://www.tinyclr.it/" target="_blank"><img src="~/content/img/communities/tinyclr.png" alt="Tiny CLR"></a>
<a href="http://www.3ndlab.it/" target="_blank"><img src="~/content/img/communities/3ndlab.png" alt="3nD Lab"></a>
