<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Windows Makers &amp; Fiera Radioamatore 2</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/content/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/icomoon-social.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/content/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="~/content/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="~/content/main.css">
    <link rel="stylesheet" href="~/content/custom.css">
    <script src="~/scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <!-- Navigation & Logo-->
    <div class="mainmenu-wrapper">
        <div class="container">
            <nav id="mainmenu" class="mainmenu">
                <ul>
                    <li class="logo-wrapper"><a href="@Url.Action("Index", "Home")">Windows  Makers</a></li>
                    <li>
                        <a href="@Url.Action("Index", "Progetti")">Progetti</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Team")">Team</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    @RenderBody()
    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-footer col-md-4 col-xs-6">
                    <h3>Naviga</h3>
                    <ul class="no-list-style footer-navigate-section">
                        <li><a href="http://www.innovazionefvg.net/">Blog</a></li>
                        <li><a href="http://www.innovazionefvg.net/faq/">FAQ</a></li>
                    </ul>
                </div>

                <div class="col-footer col-md-4 col-xs-6">
                    <h3>Contatti</h3>
                    <p class="contact-us-details">
                        <b>Email:</b> <a href="mailto:windowsmakers@1nn0va.onmicrosoft.com">windowsmakers@1nn0va.onmicrosoft.com</a>
                    </p>
                </div>
                <div class="col-footer col-md-4 col-xs-6">
                    <h3>Rimani in contatto con noi</h3>
                    <ul class="footer-stay-connected no-list-style">
                        <li><a href="http://www.facebook.com/windowsmakers" class="facebook"></a></li>
                        <li><a href="http://twitter.com/windowsmakers" class="twitter"></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright">&copy; 2014 1nn0va</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/scripts/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
    <script src="~/scripts/jquery.fitvids.js"></script>
    <script src="~/scripts/jquery.sequence-min.js"></script>
    <script src="~/scripts/jquery.bxslider.js"></script>
    <script src="~/scripts/main-menu.js"></script>
    <script src="~/scripts/template.js"></script>
</body>
</html>