<h3>I nostri sponsor</h3>
@*<a href="http://www.microsoft.com/" target="_blank"><img src="~/content/img/sponsors/microsoft.png" alt="Microsoft"></a>
<a href="http://www.intel.com/" target="_blank"><img src="~/content/img/sponsors/intel.png" alt="Intel"></a>*@
<a href="http://www.fierapordenone.it/" target="_blank"><img src="~/content/img/sponsors/fierapordenone.png" alt="Fiera di Pordenone"></a>
