<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>I nostri progetti</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <a href="page-portfolio-item.html"><img src="~/content/img/projects/galileoonazure.png" alt="Galileo su Azure"></a>
                    </div>
                    <div class="portfolio-info">
                        <ul>
                            <li class="portfolio-project-name">Galileo su Azure</li>
                            <li>Internet of Things</li>
                            <li class="read-more"><a href="@Url.Action("Index", "Progetti", new { id = "GalileoSuAzure"})" class="btn">Leggi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
