<!-- Team Member -->
<div class="col-md-4 col-sm-6">
    <div class="team-member">
        <!-- Team Member Photo -->
        <div class="team-member-info">
            <ul>
                <!-- Team Member Info & Social Links -->
                <li class="team-member-image">
                    <img class="team small" src="http://www.emanuelebartolesi.com/Custom/BlogLogo.png" alt="Emanuele Bartolesi">
                </li>
                <li class="team-member-name">
                    <a href="@Url.Action("Index", "Team", new { id="EmanueleBartolesi"})">Emanuele Bartolesi</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- End Team Member -->
