<!-- Team Member -->
<div class="col-md-4 col-sm-6">
    <div class="team-member">
        <!-- Team Member Photo -->
        <div class="team-member-info">
            <ul>
                <!-- Team Member Info & Social Links -->
                <li class="team-member-image">
                    <img class="team small" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/3/005/014/3d7/11a8aaa.jpg" alt="Grazia Cimmino">
                </li>
                <li class="team-member-name">
                    <a href="@Url.Action("Index", "Team", new { id="GraziaCimmino"})">Grazia Cimmino</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- End Team Member -->
