<!-- Team Member -->
<div class="col-md-4 col-sm-6">
    <div class="team-member">
        <!-- Team Member Photo -->
        <div class="team-member-info">
            <ul>
                <li class="team-member-image">
                    <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/3/000/1d4/16b/19e2b18.jpg" alt="Marco Pozzan">
                </li>
                <!-- Team Member Info & Social Links -->
                <li class="team-member-name">
                    <a href="@Url.Action("Index", "Team", new { id="MarcoPozzan"})">Marco Pozzan</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Team Member -->
