@{
    var title = "Erica Barone";
}
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product Image & Available Colors -->
            <div class="col-sm-6">
                <div class="product-image-large">
                    <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/042/0b2/3000ddc.jpg" alt="@title">
                </div>
            </div>
            <!-- End Product Image & Available Colors -->
            <!-- Product Summary & Options -->
            <div class="col-sm-6 product-details">
                <h4>@title</h4>
                <h5>Quick Overview</h5>
                <p>
                    Erica Barone è Technical Evangelist in Microsoft Italia da maggio 2014, con focus sulle piattaforme Windows e Windows Phone. Nata e cresciuta nelle campagne bolognesi, si è laureata in Ingegneria Informatica all'Università di Bologna e ha lavorato per un anno come firmware designer di barriere di sicurezza e sensori di visione presso Datalogic Automation s.r.l.                </p>
                <span class="team-member-social">
                    <a href=""><i class="icon-facebook"></i></a>
                    <a href=""><i class="icon-github"></i></a>
                    <a href=""><i class="icon-linkedin"></i></a>
                    <a href=""><i class="icon-slideshare"></i></a>
                    <a href=""><i class="icon-blogger"></i></a>
                    <a href=""><i class="icon-google-plus"></i></a>
                    <a href=""><i class="icon-twitter"></i></a>
                </span>
            </div>
            <!-- End Product Summary & Options -->
            <!-- Full Description & Specification -->
            <div class="col-sm-12">
                <div class="tabbable">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs product-details-nav">
                        <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                    </ul>
                    <!-- Tab Content (Full Description) -->
                    <div class="tab-content product-detail-info">
                        <div class="tab-pane active" id="tab1">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Full Description & Specification -->
        </div>
    </div>
</div>
