@{
    var title = "Francesco Moro";
}
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product Image & Available Colors -->
            <div class="col-sm-6">
                <div class="team-member-image">
                    <img src="~/Content/img/team/FrancescoMoro.jpg" alt="Francesco Moro">
                </div>
            </div>
            <!-- End Product Image & Available Colors -->
            <!-- Product Summary & Options -->
            <div class="col-sm-6 product-details">
                <h4>@title</h4>
                <h5>Quick Overview</h5>
                <p>
                </p>
                <span class="team-member-social">
                    <a href=""><i class="icon-facebook"></i></a>
                    <a href=""><i class="icon-github"></i></a>
                    <a href=""><i class="icon-linkedin"></i></a>
                    <a href=""><i class="icon-slideshare"></i></a>
                    <a href=""><i class="icon-blogger"></i></a>
                    <a href=""><i class="icon-google-plus"></i></a>
                    <a href=""><i class="icon-twitter"></i></a>
                </span>
            </div>
            <!-- End Product Summary & Options -->
            <!-- Full Description & Specification -->
            <div class="col-sm-12">
                <div class="tabbable">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs product-details-nav">
                        <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                    </ul>
                    <!-- Tab Content (Full Description) -->
                    <div class="tab-content product-detail-info">
                        <div class="tab-pane active" id="tab1">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Full Description & Specification -->
        </div>
    </div>
</div>
