@{
    var title = "Marco Minerva";
}
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product Image & Available Colors -->
            <div class="col-sm-6">
                <div class="team-member-image">
                    <img src="~/Content/img/team/MarcoMinerva.png" alt="@title">
                </div>
            </div>
            <!-- End Product Image & Available Colors -->
            <!-- Product Summary & Options -->
            <div class="col-sm-6 product-details">
                <h4>@title</h4>
                <h5>Quick Overview</h5>
                <p>
                    Marco Minerva si è dedicato a .NET fin dalla sua prima introduzione. Attualmente lavora come consulente freelance e si occupa di progettazione e sviluppo di applicativi basati sul Framework .NET, realizzando sia soluzioni Web con ASP.NET MVC/Web API ed Azure sia app per Windows 8 e Windows Phone. Organizza e tiene corsi di formazione. E’ co-fondatore e Community Leader di DotNetToscana. E' speaker ad eventi tecnici di livello nazionale e scrive articoli per riviste. Dal 2013 è Microsoft MVP per la categoria Visual C#.                </p>
                <span class="team-member-social">
                    <a href="https://www.facebook.com/marcominerva"><i class="icon-facebook"></i></a>
                    <a href="http://www.linkedin.com/in/marcominerva"><i class="icon-linkedin"></i></a>
                    <a href="http://marcominerva.wordpress.com"><i class="icon-blogger"></i></a>
                    <a href="http://www.twitter.com/marcominerva"><i class="icon-twitter"></i></a>
                </span>
            </div>
            <!-- End Product Summary & Options -->
            <!-- Full Description & Specification -->
            <div class="col-sm-12">
                <div class="tabbable">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs product-details-nav">
                        <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                    </ul>
                    <!-- Tab Content (Full Description) -->
                    <div class="tab-content product-detail-info">
                        <div class="tab-pane active" id="tab1">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Full Description & Specification -->
        </div>
    </div>
</div>
