@{
    var title = "Marco Parenzan";
}
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product Image & Available Colors -->
            <div class="col-sm-6">
                <div class="product-image-large">
                    <img src="http://www.communitydays.it/content/speakers/marcoparenzan.jpg" alt="@title">
                </div>
            </div>
            <!-- End Product Image & Available Colors -->
            <!-- Product Summary & Options -->
            <div class="col-sm-6 product-details">
                <h4>@title</h4>
                <h5>Quick Overview</h5>
                <p>
                    Programmatore .NET dagli inizi, ora anche Cloud con Windows Azure. Appassionato di formazione in aziende, enti e Università, in Friuli Venezia Giulia. Speaker per 1nn0va, la community Microsoft di Pordenone (http://www.innovazionefvg.net/), e organizzatore (con UGISS) del primo SQL Saturday italiano nel 2012 e dei SQL Saturday del 2013.                </p>
                <span class="team-member-social">
                    <a href="https://www.facebook.com/parenzan.marco"><i class="icon-facebook"></i></a>
                    <a href="https://github.com/marcoparenzan"><i class="icon-github"></i></a>
                    <a href="http://it.linkedin.com/in/marcoparenzan/"><i class="icon-linkedin"></i></a>
                    <a href="http://www.slideshare.net/marco.parenzan"><i class="icon-slideshare"></i></a>
                    <a href="http://codeisvalue.wordpress.com/"><i class="icon-blogger"></i></a>
                    <a href="https://plus.google.com/u/0/+marco.parenzan"><i class="icon-google-plus"></i></a>
                </span>
           </div>
            <!-- End Product Summary & Options -->
            <!-- Full Description & Specification -->
            <div class="col-sm-12">
                <div class="tabbable">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs product-details-nav">
                        <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                    </ul>
                    <!-- Tab Content (Full Description) -->
                    <div class="tab-content product-detail-info">
                        <div class="tab-pane active" id="tab1">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Full Description & Specification -->
        </div>
    </div>
</div>
