@{
    var title = "Marco Dal Pino";
}
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@title</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product Image & Available Colors -->
            <div class="col-sm-6">
                <div class="product-image-large">
                    <img src="http://www.communitydays.it/content/speakers/marcodalpino.jpg" alt="@title">
                </div>
            </div>
            <!-- End Product Image & Available Colors -->
            <!-- Product Summary & Options -->
            <div class="col-sm-6 product-details">
                <h4>@title</h4>
                <h5>Quick Overview</h5>
                <p>
                    Marco Minerva lavora con .NET fin dalla sua prima introduzione. Attualmente è CTO di Kleeng SRL, una software house di Pisa, e si occupa di progettazione e sviluppo di applicativi basati su .NET, a vari livelli, dal Micro Framework fino a sistemi Enterprise, passando per le app Windows Phone e Windows Store. E’ co-fondatore e Community Leader di DotNetToscana. E' speaker ad eventi tecnici e scrive articoli per riviste. Dal 2013 è Microsoft MVP per la categoria Visual C#.                </p>
                <span class="team-member-social">
                    <a href="https://www.facebook.com/marco.dalpino"><i class="icon-facebook"></i></a>
                    <a href="https://github.com/marcodalpino"><i class="icon-github"></i></a>
                    <a href="http://it.linkedin.com/in/marcodalpino/"><i class="icon-linkedin"></i></a>
                    <a href="http://www.slideshare.net/marcodalpino"><i class="icon-slideshare"></i></a>
                    <a href="http://codeisvalue.wordpress.com/"><i class="icon-blogger"></i></a>
                    <a href="https://plus.google.com/u/0/+marco.dalpino"><i class="icon-google-plus"></i></a>
                </span>
            </div>
            <!-- End Product Summary & Options -->
            <!-- Full Description & Specification -->
            <div class="col-sm-12">
                <div class="tabbable">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs product-details-nav">
                        <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                    </ul>
                    <!-- Tab Content (Full Description) -->
                    <div class="tab-content product-detail-info">
                        <div class="tab-pane active" id="tab1">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Full Description & Specification -->
        </div>
    </div>
</div>
