@{
    var title = "Marco Dal Pino";
}
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product Image & Available Colors -->
            <div class="col-sm-6">
                <div class="team-member-image">
                    <img src="http://www.communitydays.it/content/speakers/marcodalpino.jpg" alt="@title">
                </div>
            </div>
            <!-- End Product Image & Available Colors -->
            <!-- Product Summary & Options -->
            <div class="col-sm-6 product-details">
                <h4>@title</h4>
                <h5>Quick Overview</h5>
                <p>
                    Marco Dal Pino svolge attività di consulenza e sviluppo sin dal 1993, sviluppa applicazioni gestionali, mobile ed embedded per retail, data retrieval, inventory. Negli ultimi anni collabora allo sviluppo di app Windows Phone e Windows 8 per terze parti. E’ docente in corsi per lo sviluppo di applicazioni Windows Phone e Windows 8, nonche’ tutte le tecnologie ed i linguaggi legati allo sviluppo per la piattaforma Windows. E’ regolare speaker alle principali conferenze tecniche in italia. Fa parte dello staff di DotNetToscana, lo User Group toscano dedicato al mondo .NET. Dal 2013 è stato nominato Microsoft MVP Client Development e NOKIA Developer Champion. Dal 2014 è anche Intel Software Innovator for Realsense and IoT.
                </p>
                <span class="team-member-social">
                    <a href=""><i class="icon-facebook"></i></a>
                    <a href=""><i class="icon-github"></i></a>
                    <a href=""><i class="icon-linkedin"></i></a>
                    <a href=""><i class="icon-slideshare"></i></a>
                    <a href=""><i class="icon-blogger"></i></a>
                    <a href=""><i class="icon-google-plus"></i></a>
                    <a href="http://www.twitter.com/marcodalpino"><i class="icon-twitter"></i></a>
                </span>
            </div>
            <!-- End Product Summary & Options -->
            <!-- Full Description & Specification -->
            <div class="col-sm-12">
                <div class="tabbable">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs product-details-nav">
                        <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                    </ul>
                    <!-- Tab Content (Full Description) -->
                    <div class="tab-content product-detail-info">
                        <div class="tab-pane active" id="tab1">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Full Description & Specification -->
        </div>
    </div>
</div>
