@{
    var title = "Mirco Vanini";
}
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product Image & Available Colors -->
            <div class="col-sm-6">
                <div class="team-member-image">
                    <img class="team small" src="~/Content/img/team/MircoVanini.png" alt="Mirco Vanini">
                </div>
            </div>
            <!-- End Product Image & Available Colors -->
            <!-- Product Summary & Options -->
            <div class="col-sm-6 product-details">
                <h4>@title</h4>
                <h5>Quick Overview</h5>
                <p>
                    Mirco Vanini è un consulente focalizzato sullo sviluppo di soluzioni mobile / embedded / micro device utilizzando sia .NET Compact Framework che SDK nativi. Dagli anni sviluppa applicazioni utilizzando C++ e le varie tecnologie presenti sul mercato. Dal 2000 inizia a sviluppare con Microsoft .NET sia per l'ambiente desktop che per l'ambiente mobile/embedded. Da sempre affronta lo sviluppo mobile / embedded utilizzando sia codice managed che codice nativo per ottenere sempre il massimo delle performance dai vari dispositivi. Sin dalla sua comparsa si occupa attivamente di .NET Micro FW & .NET Gadgeteer sia per passione sia per lavoro completando così la sua esperienza in ambito embedded. Socio e membro attivo negli user group "XeDotNet" e "TinyCLR.it" in cui partecipa sia nel lato organizzativo che come speaker. Dal 2012 è Microsoft MVP per la categoria Windows Embedded.
                </p>
                <span class="team-member-social">
                    <a href="https://www.facebook.com/mirco.vanini"><i class="icon-facebook"></i></a>
                    <a href="http://www.linkedin.com/in/proxsoft"><i class="icon-linkedin"></i></a>
                    <a href="http://www.slideshare.net/mircovanini1/presentations"><i class="icon-slideshare"></i></a>
                    <a href="http://mircovanini.blogspot.it"><i class="icon-blogger"></i></a>
                    <a href="https://twitter.com/MircoVanini"><i class="icon-twitter"></i></a>
                </span>
            </div>
            <!-- End Product Summary & Options -->
            <!-- Full Description & Specification -->
            <div class="col-sm-12">
                <div class="tabbable">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs product-details-nav">
                        <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                    </ul>
                    <!-- Tab Content (Full Description) -->
                    <div class="tab-content product-detail-info">
                        <div class="tab-pane active" id="tab1">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Full Description & Specification -->
        </div>
    </div>
</div>
